VITE_API_KEY=AIzaSyAi91bnb6NiqZ8WHjv9nOP7qgCoaR94-Nk
VITE_AUTH_DOMAIN=rilaxy-cd8c5.firebaseapp.com
VITE_PROJECT_ID=rilaxy-cd8c5
VITE_STORAGE_BUCKET=rilaxy-cd8c5.firebasestorage.app
VITE_MESSAGING_SENDER_ID=97043198090
VITE_APP_ID=1:97043198090:web:52c63d82644b17987afd73
